if (response.flash_message !== undefined) {
    var flashMessage = $('<div class="flash-message flash-message-' + response.flash_category + '">' + response.flash_message + '</div>');
    $('#flash-messages').empty().append(flashMessage); // Thêm flash message mới vào khung

    // Làm cho thông báo flash nhấp nháy mà không thay đổi bố cục
    var blinkCount = 0;
    var blinkInterval = setInterval(function() {
        if (blinkCount >= 10) {  // 5 seconds at 500ms interval = 10 blinks
            clearInterval(blinkInterval);
            return;
        }
        flashMessage.toggleClass('hidden');
        blinkCount++;
    }, 500);
}
