<form id="merge-form" method="POST">
    <ul>
        {% for file in files %}
            <li>
                {{ file }}
                <input type="hidden" name="file_names" value="{{ file }}">
                <select name="sheets_{{ loop.index0 }}" class="ml-2">
                    {% for sheet in file_sheets[file] %}
                        <option value="{{ sheet }}">{{ sheet }}</option>
                    {% endfor %}
                </select>
                <form method="POST" action="{{ url_for('delete_file', filename=file) }}" class="ml-2">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form method="POST" action="{{ url_for('delete_all_files') }}">
        <button type="submit" class="btn btn-danger">Delete All Files</button>
    </form>

    <input type="hidden" name="merge">
    <div class="form-check mb-2">
        <input type="checkbox" name="remove_empty" class="form-check-input" id="remove_empty">
        <label for="remove_empty" class="form-check-label">Remove Empty Rows</label>
    </div>
    <a>Remove rows if its contains following text :</a>
    <div id="text_to_remove_container" class="mb-2">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="text_to_remove" checked>
                </div>
            </div>
            <input type="text" name="text_to_remove" class="form-control">
        </div>
    </div>
    <button type="button" id="add_text_to_remove" class="btn btn-secondary mb-2">+</button>
    <a>add_text_to_remove</a>
    </br>
    <p> 
        <button type="submit" class="btn btn-primary">Merge Files</button>
        <span>Total Cost: ${{ total_cost }}</span>
    </p>
</form>