<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="merge excel, online excel tool, hợp nhất tệp excel, công cụ excel trực tuyến">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mergexcel - Công cụ hợp nhất các tệp Excel trực tuyến.">
    <title>Mergexcel</title>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <img src="{{ url_for('static', filename='logo.png') }}" alt="Website Logo" id="logo"> -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_login.css') }}">

</head>
<body>
        <!-- Thêm các hình dạng vào nền -->
        <div class="background-shape shape-1"></div>
        <div class="background-shape shape-2"></div>
        <div class="background-shape shape-3"></div>
        <div class="background-shape shape-4"></div>
        <div class="background-shape shape-5"></div>
    <div class="container">
        <div class="intro">
            <header>
                <h1>Welcome to Mergexcel</h1>
                <p>Mergexcel is an online tool that helps you merge Excel files quickly and efficiently.</p>
            </header>
            <section>
                <!-- <h2>Benefits of Mergexcel</h2> -->
                <p>If you have dozens or hundreds of excel files that need to be merged, Mergexcel help you save dozens of time.</p>
                <p>Get 3 USD free on first login .</p>
            
            </section>
        </div>
<div class="login">
            <h2>Login to continue </h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div id="alert-container" class="alert custom-alert" style="display: none;"></div>
    <p>
        {{ form.remember() }}
        {{ form.remember.label }}        
    </p>
    <p><button type="submit">Login</button></p>
    <!-- <p><input type="submit" value="Login"></p> -->
</form>

<a href="{{ url_for('register') }}">Register</a><br>
<a href="{{ url_for('reset_request') }}">Forgot Password ?</a><br>

<a href="{{ url_for('login_google') }}" class="btn btn-danger">Or -> Login with Google</a>

</div>
</div>
</body>
<script>
    // Hàm để hiển thị cảnh báo
    function showAlert(message, type = 'danger') {
        var alertContainer = document.getElementById('alert-container');
        alertContainer.innerText = message;
        alertContainer.classList.remove('alert-danger', 'alert-success', 'alert-warning', 'alert-info');
        alertContainer.classList.add('alert-' + type, 'custom-alert');
        alertContainer.style.display = 'block';

        // Tự động ẩn sau 10 giây
        setTimeout(function() {
            alertContainer.style.display = 'none';
        }, 6000); // 10000 ms = 10 giây
    }

    // Hiển thị thông báo từ Flask (flash)
    document.addEventListener('DOMContentLoaded', function() {
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        showAlert("{{ message }}", "{{ category }}");
        {% endfor %}
        {% endif %}
        {% endwith %}
    });
</script>

</html>
