<!doctype html>
<html>
<head>
    <title>Request Password Reset</title>
</head>
<body>
    <h1>Request Password Reset</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><input type="submit" value="Request Password Reset"></p>
    </form>
    <a href="{{ url_for('login') }}">Back to Login</a>
</body>
</html>
