<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search for User : do token dropbox thay đổi liên tục nên không dùng nữa, nếu muốn thì tự code tiếp</h1>
    <form method="POST" action="/searchdropbox">
        <label for="id">Enter ID:</label>
        <input type="text" id="id" name="id">
        <button type="submit">Search</button>
    </form>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
